.restaurant-container {
  background-color: #f5f3f1 !important;
}
.sidebar-container {
  position: static !important;
  top: 100px;
  list-style-type: none;
  padding-left: 30px;
  padding-top: 10px;
}
.sidebar-container li {
  margin-bottom: 20px;
}
.sidebar-container .address {
  font-size: 25px;
  font-weight: bold;
}
.sidebar-container:only-child {
  padding-bottom: 25px;
}
