
.section-title{
  color:rgb(0, 156, 134);
}
.main-bg{
  background-color:rgb(0, 156, 134)!important;
  color: aliceblue!important;
}
.hero-container{
  height:700px;
 background-repeat: no-repeat;
 background-size: cover;
  width:100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_1280.jpg");
}
@media (prefers-reduced-motion: no-preference) {
    .img-animation {
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }
 
  
  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  