 .profile-accordion{
  outline: 0 !important;
  border: 0 !important;
  background-color: rgb(0, 156, 134) !important;
  box-shadow: none !important;
  color: #F8F9FA !important;
  font-weight: bold;
}
