.sticky-custom {
  position: sticky !important;
  top: 70px !important;
  z-index: 1021;
}
.category-text {
  background-color: #f8f9fa;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
}
.scrollspy li a {
  text-decoration: none;
  text-align: left;
  padding: 30px 0;
  color: rgb(163, 163, 163);
}
.scrollspy a h5 {
  color: rgb(163, 163, 163);
  font-size: 17px;
  padding: 10px 0;
}

.isCurrent {
  color: rgb(221, 134, 134);
  text-decoration: none;
  border-right: 2px solid red;
  background-color: rgb(255, 255, 255);
}
.support {
  z-index: 1022;
}
